@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #05070d;
  user-select: none;
  -webkit-user-select: none;
}

#canvas-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  outline: none;
}
